<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XO GAME</title>
    <link
      rel="shortcut icon"
      href="https://imgs.search.brave.com/iINHW8qXD0foIJoJou8LiezKAiAPu_NiR_y_DoDFYhI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTgz/ODIwNTQ5L3Bob3Rv/L3RpYy10YWMtdG9l/LWdhbWUuanBnP3M9/NjEyeDYxMiZ3PTAm/az0yMCZjPTh1UXFV/eU9sUXZvbzRVbmxG/NTBhclRkSDdUOFRV/dmEtWTJkNjlENVNB/UDA9"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>XO GAME</h1>
    <button class="startbtn">Start Game !!</button>
    <h3>Click On Start Button ...</h3>
    <div class="container">
      <button class="btn1 mainplay"></button>
      <button class="btn2 mainplay"></button>
      <button class="btn3 mainplay"></button>
      <button class="btn4 mainplay"></button>
      <button class="btn5 mainplay"></button>
      <button class="btn6 mainplay"></button>
      <button class="btn7 mainplay"></button>
      <button class="btn8 mainplay"></button>
      <button class="btn9 mainplay"></button>
    </div>
    <p class="footer">© 2023 Tejas Jain. All Rights Reserved.</p>
    <script src="script.js"></script>
  </body>
</html>
